# ____REMOVE THIS LINE AFTER RENAMING .sample.env to .env ____
HOBBIES = 'CODING'
LANGUAGE = 'ENGLISH'
OWNER_SKILLS = 'JAVASCRIPT'
OWNER_STATUS = 'DEVELOPER'
OWNER_NAME = 'Qasim Ali'
TIME_ZONE = 'Asia/Karachi'
MONGODB_URI = mongodb+srv://Userwithpassword54:Dashlinenova555@cluster0.rvrmrho.mongodb.net/test?retryWrites=true&w=majority&appName=Cluster0
DB_NAME = 'guru_bot'
REMOVEBG_KEY = zMAaYcfVcvZehscnX5TskTBP
PREFIX = '.'
MODE = 'private'
statusview = 'true'
BOTNAME = 'Vampire_MD'
antidelete = 'true'
BOT_NUMBER= 
OWNERS = '923195305207'
